<h2>Add a Word:</h2>
<form action="/Home_Page" method="post">
  <div class="form-group">
    <label for="word">Enter Word</label>
    <input type="text" name="word">
  </div>
  <button type="submit">Add Word</button>
</form>
